@use 'sass:math';
@import 'styles/_sizing.scss';

.bookshelf {
  border-bottom: 25px solid rgb(192, 162, 80);
  display: grid;
  gap: rem-calc(6);
  grid-template-columns: repeat(auto-fit, 80px);
  // grid-template-rows: repeat(auto-fit, 75px);
  grid-row: 1 / -1;
  padding: 1rem;
  padding-bottom: 0;
  position: relative;

  &::before,
  &::after {
    background-color: rgb(192, 162, 80);
    content: '';
    height: 100px;
    position: absolute;
    width: 50px;
  }

  &::after {
    inset: calc(100% + 25px) 15% auto auto;
  }

  &::before {
    inset: calc(100% + 25px) auto auto 15%;
  }
}
