$text-light: rgba(255, 255, 255, 0.93);
$text-dark: black;

$primary-color: #007bff;
$secondary-color: #a8a89f;
$tertiary-color: #9b6e00;

$success-color: darkcyan;
$warning-color: darkgoldenrod;
$danger-color: #dc3545;

$dark-color: #343a40;
