@import 'styles/_sizing.scss';

.root {
  position: fixed;
  right: 0;
  top: 70px;
  bottom: 80px;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  pointer-events: none;

  &.active {
    transform: translateX(0);

    > .toggleButton * {
      box-shadow: none;
    }
  }
}

.toggleButton {
  border: none;
  border-radius: rem-calc(12) rem-calc(12) 0 0;
  left: 1px;
  padding: 0;
  pointer-events: all;
  position: absolute;
  top: rem-calc(14);
  transform-origin: left;
  transform: translate(0, -50%) rotate(-90deg) translate(-100%, -50%);

  &:focus-visible,
  &:focus {
    outline: none;
  }
}

.content {
  max-height: 100%;
  display: grid;
  grid-auto-rows: minmax(0, 100%);
  pointer-events: all;
}
